{
  "env": {
    "mocha": true
  },
  "rules": {
    "consistent-return": "off"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser"
}
