*-error.log
node_modules/
.DS_Store
.nyc_output/
coverage/
npm-debug.log
package-lock.json
test/fixture*
dist

# yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
