name: CI

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

jobs:
  build:
    runs-on: macOS-latest
    strategy:
      matrix:
        node-version: [12.13.0, 14.x, 16.x]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install
        run: yarn --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn coverage
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage/lcov.info
          env_vars: NODE_VERSION
        env:
          NODE_VERSION: ${{ matrix.node-version }}

  automerge:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.3.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
